body {
    margin: 0;
    padding: 0;
}
.texto {
    text-align: center ;
    background-color: white;
    height: 100vh
    width: 55%;
}

.imagen {
    background-image: url(Group_15.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 45%;
}

#pantalla-dividida{
display: flex;
}

.LIN {
    color: rgba(31,147,116,255);
}
.JA{
    color: rgba(9,193,132,255);
}
h2 {
   margin-top: 80px;
    font-size: 40px;
}
p{
    
    font-size: 22px;
    margin: auto;
}
.texto button{
    color: aliceblue;
    background: rgba(64,132,114,255);
    border-style: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 70px;
}
.texto button:hover{
    background:rgba(9,193,132,255);
   transition: background-color 0.5s ease-out ;
   outline: 0;
    cursor: pointer;
}