*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #EFEFEF;
   position: relative;
   padding-bottom: 5em;
   width: 100vw;
}

header .nav-item:hover{
    border-bottom: 2px solid #09C184;
    border-top: 2px solid #09C184;
}
@font-face {
    font-family: red-hat-semibold;
    src: url(static/RedHatDisplay-SemiBold.ttf);
}

@font-face {
    font-family: red-hat-medium;
    src: url(static/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: red-hat-bold;
    src: url(static/RedHatDisplay-Bold.ttf);
}

@font-face {
    font-family: red-hat-black;
    src: url(static/RedHatDisplay-Black.ttf);
}

header{
    background-color: #0C5149;
}

a{
    text-decoration: none;
}

.navbar-nav a:hover{
    color: #0D192B;
    transition: 0.5s;
}

.nav-link{
    font-family: red-hat-semibold;
    color: white;
    font-family: red-hat-medium;
}

.p-logo{
    font-family: red-hat-semibold;
    color: white;
}

.span1{
    color: #A8A8A8;
}

.logo-navbar{
    width: 355px;
    height: 100px;
}

.navb-logo{
    margin-top: 5px;
}

.section-principal{
    background-image: url(imagenes/mujer-atractiva-sonriente-satisfecha-que-muestra-pantalla-telefono-inteligente-pulgar-arriba.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 154px;
    height: 780px;
}

.div-p1{
    text-align: center;
    margin-top: 80px;
}

.div-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 90px;
}

h1{
    font-family: red-hat-bold;
    color: white;
    text-shadow: 0px 4px 4px #00000040;
    font-size: 48px;
}

.span2{
    color: #0A8967;
    font-family: red-hat-bold;
}

.p-principal{
    font-size: 24px;
    font-family: red-hat-medium;
    color: #0D192B;
}

.span3{
    color: #0A7B5F;
}

.boton-contactar{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #0C5149;
    padding: 7px 100px;
    font-size: 24px;
    font-family: red-hat-bold;
    color: #0C5149;
    box-shadow: 4px 7px 8px 1px rgba(97, 96, 96, 0.5);
    margin-top: 140px;
    transition: 0.5s;
}

.div-contactar button:hover {
    color: #09C184;
    background-color: #0C5149;
    box-shadow: 1px 2px 10px 1px #09C184;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center ;
    background-color: white;
    height: 100vh;
    align-items: center;
    border-radius: 50px;
    justify-content: space-evenly;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
}

#pantalla-dividida{
    height: 100vh;
    border-radius: 15px;
    display: flex;
    background-image: url(imagenes/Group\ 16.png);
    background-repeat: no-repeat;
    background-size: 79vh 100vh;
    border-radius: 50px;
}

.LIN {
    color: rgba(31,147,116,255);
    font-family: red-hat-bold;
}

.JA{
    color: rgba(9,193,132,255);
    font-family: red-hat-bold;
}

.titulo-seccion2 {
    font-size: 40px;
    font-family: red-hat-bold;
    text-shadow: 0px 2px 2px #969696;
}

.p-seccion2{
    width: 600px;
    font-size: 24px;
    font-family: red-hat-medium;
}

.texto button:hover{
    background-color:#09C184;
   transition: background-color 0.5s ease-out ;
   outline: 0;
    cursor: pointer;
    box-shadow: 1px 2px 10px 1px #0C5149;
}

.boton-contratar{
    color: aliceblue;
    background: rgba(64,132,114,255);
    border-style: none;
    padding: 7px 100px;
    font-size: 24px;
    font-family: red-hat-bold;
    border-radius: 8px;
    box-shadow: 4px 7px 8px 1px rgba(97, 96, 96, 0.5);
}

.fluid-seccion2{
    padding-left: 0;
    padding-right: 0;
}

.span4{
    text-shadow: 0px 1px 1px #09C184;
}

.seccion3{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    background-color: #0A7B5F;
    color: #F2F2F2;
    height:fit-content;
    
}

.titulo-seccion3{
    font-size: 40px;
    padding-right: 65px;
}

.cont-inst{
    font-size: 32px;
    padding-right: 90px;
}

.bi{
    font-size: 150px;
    color:#0BBF7D;
}

.logo-tienda{
    font-size: 150px;
    margin-top: 40px;
}

.instrucciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-navbar{
    padding-right: 30px;
}

.boton-nav button{
    border: none;
}

.fa-solid{
    color: rgb(173, 172, 172);
}

.navbar{
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0);
}

.p-sede{
    padding-top: 30px;
}

.seccion4{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #F2F2F2;
    height:fit-content;
    flex-direction: column;
}

.card{
    margin: 0 auto;
    font-size: 20px;
    height: 520px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 7px 25px 1px rgba(11, 42, 83, 0.5);
}

.card-mejor-oferta{
    box-shadow: 0 7px 25px 1px #0BBF7D;
}

h6{
    color: white;
    background-color: #0b604b;
    width: 180px;
    height: 20px;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: red-hat-medium;
}

 .plan-linja{
    display: flex;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 0;
    font-family: red-hat-bold;
    text-shadow: 0px 2px 4px #00000040;
}

h5{
    font-family: red-hat-bold;
    font-size: 24px;
}

.precios button:hover{
    background-color: #0b5140;
    box-shadow: 0 1px 10px 1px rgba(181, 251, 220, 0.5);
}

.boton-comprar a:hover{
    color: #36c68a;
}

.boton-comprar{
    width: 160px;
    border-radius: 5px;
    border: #3C7E63;
    background-color: #0A7B5F;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px 3px;
    transition: 0.5s;
}

.boton-comprar a{
    color: white;
    font-size: 20px;
    font-family: red-hat-bold;
}

a{
    text-decoration: none;
}

.titulo-seccion4{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-shadow: none;
    font-family: red-hat-black;
    font-size: 42px;
}

.card-description{
    margin-top: 12px;
    margin-left: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 15px;
}

.card-description p{
    text-align: start;
    font-size: 20px;
    font-family: red-hat-semibold;
    color: #0D192B;
}

.final{
    margin-top: 100px;   
}

.final p{
    font-size: 24px;
    color: #116953;
    justify-content: center;
    align-items: center;
}

.instrucciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-cards{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    color: black;
}

.row-titulo{
    margin-top: 100px;
}

.span-card{
    margin-left: 25px;
    color: rgb(158, 157, 157);
    text-shadow: none;
}

.precios-c1{
    margin-top: 30px;
}

.precios-c2{
    margin-top: 60px;
}

.preguntasSection{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    background-color: #0A7B5F;
    color: #F2F2F2;
    height: 80vh;
}

.titulo-seccion5{
    font-size: 40px;
    font-family: red-hat-black;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.content{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: flex-start
}
.content-collapse{
    margin: 30px;
    padding: 30px;
    width: 1200px;
    height: auto;
    border: none;
}
.content-collapse section:nth-child(n){
    text-align: justify;
    position: relative;
    background: #fff;
}
.content-collapse button:nth-child(n){
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
    border-style: none;
    background: #fff;
    color: #0D192B;
    font-family: red-hat-black;
    cursor: pointer;
}
.texto_expandir{
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    color: #000;
    font-family: red-hat-semibold;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
}
.abrir_cerrar{
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.contenido-contacto {
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    padding: 1.5em;
    width: 100vw;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
    border-radius: 1em;
    box-shadow: 0 7px 25px 1px rgba(11, 42, 83, 0.5);
}

.comunicate {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

.logo-formulario {
     text-align: center;
     font-size: 3em;
     font-family: 'Red Hat Display', sans-serif;
     font-weight: 700;
     color: #0D192B;
}

.logo-formulario span{
    color: rgb(3, 184, 123);
}

.container-form > * {
    padding: 1em;

}

.info-contacto {
    color: rgb(249, 247, 241) ;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: aliceblue;
   background-image: url(imagenes/imagenfondoinfo.png);
   background-size: cover;
   border-radius: 0 10px 10px 0;
}


.formulario-contacto label {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

.formulario-contacto p {
    margin: 0;
    padding: 1em;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-contacto .block {
   grid-column: 1 / 3 ;
}


.formulario-contacto button, .formulario-contacto input, .formulario-contacto textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(3, 184, 123);
    outline: none;
}
.formulario-contacto button {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: white;
    background: rgb(3, 184, 123);
    border: 0;
    text-transform: uppercase;
   font-size: 1rem;
   border-radius: 5px;
}
.formulario-contacto button:hover, .formulario-contacto button:focus {
   background:rgb(4, 90, 61);
   transition: background-color 0.2s ease-out ;
   outline: 0;
}
.info-contacto h2,
.info-contacto ul,
.info-contacto p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.info-contacto ul {
    list-style: none;
    padding: 0;
}

.info-contacto ul li {
    padding: .3em;
}
@media (min-width: 700px){
    .contenedor-form {
        display: grid; 
        grid-template-columns: 2fr  1fr;
    }
    .contenedor-form > * {
       padding: 2em;
    }
    
    .info-contacto h4, .info-contacto ul, .info-contacto p{
      text-align: left;  

    }
    .comunicate {
        margin-left: 3em;
    }
}

@media (max-width: 768px) {
    .comunicate {
        text-align: center;
    }
    h1{
        font-size: 36px;
    }
    .p-principal{
        font-size: 24px;
    }
    .boton-contactar{
        margin-top: 50px;
        padding: 7px 60px;
        font-size: 18px;
    }
    .section-principal{
        border-radius: 50px;
        background-size: 100vw;
        margin: auto;
        background-image: none;
        background-color: #e4ddddbe;
    }
    .columna-2-principal{
        flex: none;
    }
    .columna1-seccion2{
        width: 0;
        flex: none;
    }
    .row-seccion2{
        display: flex;
        justify-content: center;
    }
    .titulo-seccion2{
        font-size: 30px;
        margin-bottom: 70px;
    }
    .p-seccion2{
        font-size: 24px;
        width: 450px;
        margin-bottom: 100px;
    }
    .texto{
        justify-content: center;
    }
    #pantalla-dividida{
        background-color: #ffffff;
        background-image: none;
        border-radius: 0;
    }
    .titulo-seccion3{
        font-size: 32px;
        padding: 0;
    }
    .bi{
        font-size: 100px;
    }
    .logo-tienda{
        font-size: 100px;
    }
    .guion{
        flex: none;
    }
    .titulo-seccion4{
        font-size: 36px;
    }
    .seccion3{
        height: 900px;
    }
    .cont-inst{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .cards-container{
        display: block;
    }
    .card{
        margin-bottom: 100px;
    }
    .seccion5{
        height: 1300px;
    }
    .col-sede{
        margin-bottom: 40px;
    }
    .row-sedes{
        display: block;
    }
}

.seccion5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 700px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 0;
}

.titulo-seccion-sedes{
    margin-top: 50px;
    font-family: red-hat-medium;
    display: flex;
    color: #0D192B;
    justify-content: center;
    align-items: center;
}

.titulo-sede{
    font-family: red-hat-semibold;
}

.logo-seccion-sedes,.logo-ituzaingo, .logo-laplata, .logo-caballito{
    position: relative;
    left: -15px;
     font-size: 50px;
     color: #0AA66D;
     justify-content: center;
     align-items: center;
 }

 .sedes-container{
    margin-top: 50px;
 }

 .numero-sedes{
    margin-top: 10px;
 }

#linea{
    border: 1px solid black;
    width: 450px;
    position: relative;
    margin: 0 auto;
    transform: translate(-50px -50px);
}

.seccion7{
    background-color: white;
    margin-top: 100px;
    height: 900px;
}

.info-contacto {
    padding: 3em;
}

.logo-carrito, .fa-arrow-right{
    font-size: 50px;
    color: #0C5149;
}

.div-titulo-pedido{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titulo-pedido{
    margin-left: 30px;
    padding-top: 5px;
}

h3{
    font-size: 25px;
}

.choice-plan{
    appearance: none;
    width: 0.2rem;
    height: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #0C5149;
    border-radius: 30px;
}

.choice-plan:checked{
    background-image: radial-gradient(#09C184 0, #09C184 60%, transparent 60%, transparent);
    color: #09C184;
    border:2px solid #0C5149;
}

.label-plan{
    margin-left: 10px;
    font-size: 24px;
}

.input-plan{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.columnas-pedido{
    margin-top: 80px;
}

.titulo-form{
display: flex;
justify-content: center;
}

.nombre-apellido{
    display: flex;
    margin-top: 25px;
}

.tel-email{
    display: flex;
    margin-top: 40px;
}

.div-flecha{
    display: flex;
    align-items: center;
}

.logo-nom, .logo-ap, .logo-tel, .logo-mail, .fa-message, .logo-dni, .logo-edad{
    font-size: 30px;
    color: #408472;
}

.logo-ap, .logo-mail{
    margin-left: 25px;
    margin-right: 15px;
}

.logo-mail{
    margin-left: 10px;
    margin-right: 12px;
}

.logo-dni{
    margin-left: 44px;
    margin-right: 11px;
}

.logo-nom, .logo-tel{
    margin-right: 15px;
}

.logo-edad{
    margin-right: 7px;
}


.input-form{
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    outline: none;
}

.mensaje-form{
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    outline: none;
    margin-left: 12px;
}

.select-sedes{
    appearance: none;
    border-radius: 3px;
    border-color: #408472;
    font-size: 20px;
    padding: 12px;
    transition: all 0.25s ease;
    cursor: pointer;
    outline: 0;
    position: relative;
    display: block;
}

.i-sede{
    position: absolute;
	right: 330px;
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}


.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 250px;
	position: relative;
    margin-top: 30px;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #0C5149;
    color: #f0f0f0;
}

.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #09C184;
	border-bottom:4px solid #09C184;
	transform: rotate(-45deg);
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.boton-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.enviar-form{
    padding: 5px 100px;
    background-color: #408472;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    box-shadow: 2px 3px 10px 1px rgb(137, 137, 137);
}

.boton-enviar button:hover{
    color: #000000;
    background-color: #f0f0f0;
    box-shadow: 2px 3px 10px 1px #408472;
    transition: 0.5s ease;
}

.checkbox-div{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.p-condiciones{
    margin-left: 10px;
    margin-bottom: 0px;
}

.warnings{
    width: 300px;
    text-align: center;
    margin: auto;
    color: #e6462a;
    padding-top: 20px;
}

.warnings0{
    text-align: start;
    margin: auto;
    color: #e6462a;
    padding-top: 20px;
}

.warnings1{
    text-align: start;
    margin: auto;
    color: #e6462a;
    padding-top: 20px;
}

.div-pdf{
    display: flex;
    justify-content: end;
}

.exportar-pdf{
    border-radius:10px ;
    background-color: #b89d31;
    color: #f0f0f0;
    text-decoration: none;
    padding: 7px 20px;
}

.div-pdf a:hover{
    background-color: #408472;
    transition: 0.5s ease;
}

.seccion-contactar{
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 7em;
}
.footer{
    font-family: red-hat-bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #111;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}
  

.logo-tam{
    float: left;
    width: 355px;
    height: 100px;
}

.iconos-footer{
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 15px;
   gap: 2em;
}


.redes{
    font-size:medium;
    text-align: center;
    margin-top: 10px;
    gap: 3em;
}

.rights{
    font-size:medium;
    float:right;
    text-align: center;
    margin-top: 28px;
}

.titulo-preguntas{
    display: flex;
    justify-content: center;
}

.logo-pregunta{
    font-size: 50px;
    color: #0D192B;
    margin-right: 15px;
}

.a-contacto{
    text-decoration: none;
    color: #0C5149;
    font-family: red-hat-bold;
}

.div-contactar a:hover{
    color: #17c6d2;
    transition: 0.5s;
    padding-right: 20px;
    padding-left: 20px;
}

.a-contratanos{
    color: aliceblue;
    font-family: red-hat-bold;
}

.texto a:hover{
    color: #0C5149;;
}